@if (product) {
<form (ngSubmit)="onSubmit()">
  <h2>Product {{product.id}}</h2>
  <span class="txt-error form-error">{{ error }} &nbsp;</span><br>

  <label for="name">Name*</label>
  <input type="text" id="name" name="name" [(ngModel)]="product.name" [readonly]="!isAdmin()" required autofocus>
  <span class="txt-error">{{ nameError }}</span><br>

  <label for="expiration">Expiration*</label>
  <input type="date" id="expiration" name="expiration" [(ngModel)]="expiration" [readonly]="!isAdmin()" required>
  <span class="txt-error">{{ expirationError }}</span><br>

  <label for="quantity">Quantity*</label>
  <input type="number" id="quantity" name="quantity" [(ngModel)]="product.quantity" [readonly]="!isAdmin()" required>
  <span class="txt-error">{{ quantityError }}</span><br>

  <label for="price">Price*</label>
  <input type="number" id="price" name="price" [(ngModel)]="product.price" [readonly]="!isAdmin()"
    (ngModelChange)="onPriceChange($event)" required>
  <span class="txt-error">{{ priceError }}</span><br>

  <button type="button" title="Delete/Restore the product" class="btn flat {{isAdmin()? '' : 'disabled'}}"
    (click)="setIsDeleted()">
    <i class="material-icons">{{product.isDeleted? "check_box" : "check_box_outline_blank"}} </i>
    &nbsp; Deleted
  </button>
  <br>

  <label for="createdAt">Created at</label>
  <input type="text" id="createdAt" value="{{product.createdAt | date:'MM/dd/yyyy h:mm a'}}" readonly>
  <br>
  <label for="updatedAt">Updated at</label>
  <input type="text" id="updatedAt" value="{{product.updatedAt | date:'MM/dd/yyyy h:mm a'}}" readonly>
  <br>

  <br>
  <fieldset>
    <legend>Currencies</legend>
    <table>
      <tr>
        <td width="20%">
          <label for="brl">BRL</label>
          <input type="text" id="brl" value="{{product.brl}}" readonly>
        </td>
        <td width="20%">
          <label for="cad">CAD</label>
          <input type="text" id="cad" value="{{product.cad}}" readonly>
        </td>
        <td width="20%">
          <label for="eur">EUR</label>
          <input type="text" id="eur" value="{{product.eur}}" readonly>
        </td>
        <td width="20%">
          <label for="mxn">MXN</label>
          <input type="text" id="mxn" value="{{product.mxn}}" readonly>
        </td>
        <td width="20%">
          <label for="gbp">GBP</label>
          <input type="text" id="gbp" value="{{product.gbp}}" readonly>
        </td>
      </tr>
    </table>
  </fieldset>

  <br>
  <div class="btn-group">
    @if (isAdmin()) {
    <button class="btn btn-primary" type="submit">Save</button>
    &nbsp;&nbsp;&nbsp;
    }
    <button class="btn" type="button" (click)="close()">Close</button>
  </div>

  <br>
</form>

}