@if (this.status !== PageStatus.Loading && this.status !== PageStatus.None) {
<div>
  <h2>Products</h2>
</div>
}

@if (this.status === PageStatus.Error) {
<div class="txt-error">
  {{ this._error }}
</div>
}

@if (this.status === PageStatus.Empty) {
<div class="txt-message">
  No records found
</div>
<br>
<button class="btn btn-success" (click)="add()">Add a new record</button>
}

@else if (this.status === PageStatus.Ready){
<table>
  <tr>
    <th width="8%">
      <button title="Sort by Code" class="btn btn-flat mini" (click)="sort('id')">
        <b>Code</b>
        <i class="material-icons">{{ getSortIcon('id') }}</i>
      </button>
    </th>
    <th width="20%">
      <button title="Sort by Name" class="btn btn-flat mini" (click)="sort('name')">
        <b>Name</b>
        <i class="material-icons">{{ getSortIcon('name') }}</i>
      </button>
    </th>
    <th width="14%"> &nbsp; </th>
    <th width="22%" class="right">
      <button title="Sort by Expiration" class="btn btn-flat mini" (click)="sort('expiration')">
        <b>Expiration</b>
        <i class="material-icons">{{ getSortIcon('expiration') }}</i>
      </button>
    </th>
    <th width="10%" class="right">
      <button title="Sort by Quantity" class="btn btn-flat mini" (click)="sort('quantity')">
        <b>Quantity</b>
        <i class="material-icons">{{ getSortIcon('quantity') }}</i>
      </button>
    </th>
    <th width="16%" class="right">
      <button title="Sort by Price" class="btn btn-flat mini" (click)="sort('price')">
        <b>Price</b>
        <i class="material-icons">{{ getSortIcon('price') }}</i>
      </button>
    </th>
    <th class="right" width="10%">
      <button title="Filters" class="btn icon material-icons" (click)="showHideFilters()">manage_search</button> &nbsp;
      <button title="Add new User" class="btn btn-success icon material-icons" (click)="add()">add</button>
    </th>
  </tr>

  <tr [class.hidden]="!_filtering"></tr> <!-- empty tr just to keep the rows color right -->
  <tr [class.hidden]="!_filtering">
    <td>&nbsp;</td>
    <td><input type="text" placeholder="Name (starts with)" size="30" (keyup.enter)="filter()" [(ngModel)]="_name"></td>
    <td class="center">
      <button type="button" title="Show deleted records too" class="btn flat float-rightx" (click)="showHideDeleted()">
        <i class="material-icons">{{_showDeleted? "check_box" : "check_box_outline_blank"}} </i>
        &nbsp; Show deleted
      </button>
    </td>
    <td class="center">
      <input type="date" placeholder="Expiration" size="12" (keyup.enter)="filter()" [(ngModel)]="_expMin"> -
      <input type="date" placeholder="mm/dd/yyyy" size="12" (keyup.enter)="filter()" [(ngModel)]="_expMax">
    </td>
    <td class="center">&nbsp;</td>
    <td class="right">
      <input type="number" placeholder="Price" size="8" (keyup.enter)="filter()" [(ngModel)]="_priceMin"> -
      <input type="number" placeholder="Price" size="8" (keyup.enter)="filter()" [(ngModel)]="_priceMax">
    </td>
    <td class="right">
      <button title="Apply filters" class="btn icon btn-primary material-icons" (click)="filter()">search
      </button>
    </td>
  </tr>

  @for (row of this._rows; track row.id) {
  <tr>
    <td>{{ row.id }}</td>
    <td colspan="2">{{ row.name }} </td>
    <td class="right">{{ formatDate(row.expiration) }}</td>
    <td class="right">{{ row.quantity }}</td>
    <td class="right">{{ row.price }}</td>
    <td class="right">
      &nbsp;
      <button title="Details/Edit" class="btn btn-info icon material-icons" (click)="edit(row.id)">edit</button>
      &nbsp;
      @if(! row.isDeleted) {
      <button title="Delete" class="btn btn-danger icon material-icons" (click)="delete(row.id)">delete</button>
      } @else {
      <button title="Restore" class="btn btn-warning icon material-icons" (click)="undelete(row.id)">restore_from_trash</button>
      }
    </td>
  </tr>
  } <!-- for (row of this._rows; track row.id) -->

  <!-- Pagination -->
  <tr>
    <td colspan="99" class="center">
      <br>
      Page {{ _pagination?.page }} of {{ _pagination?.pageCount }} <br>
      <button title="First page" class="btn icon material-icons {{canPreviousPage()? '' : 'disabled'}}" (click)="firstPage()">
        first_page
      </button>
      &nbsp;
      <button title="Previous page" class="btn icon material-icons {{canPreviousPage()? '' : 'disabled'}}"
        (click)="previousPage()"> keyboard_arrow_left
      </button>
      &nbsp;
      <button title="Next page" class="btn icon material-icons {{canNextPage()? '' : 'disabled'}}" (click)="nextPage()">
        keyboard_arrow_right
      </button>
      &nbsp;
      <button title="Last page" class="btn icon material-icons {{canNextPage()? '' : 'disabled'}}" (click)="lastPage()">
        last_page
      </button>
    </td>
  </tr>

</table>

} <!-- if (this._rows) -->