/*---------------------------------------------------------------------------*/
/*        Forms       */

form h2 {
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 0.5em;
}

form label,
form input {
  display: block;
  text-align: left;
}

form input {
  width: 100%;
  padding: 8px;
  margin: 0 0 0 0;
  box-sizing: border-box;
  border: 1px solid lightgray;
  border-radius: 4px;
}

form .btn-group {
  text-align: center;
}

.btn {
  cursor: pointer;
  padding: 6px 16px;
  min-width: 8em;
  border-radius: 4px;
}

.btn-primary {
  color: #fff !important;
  background-color: #012a5b !important;
  border: 2px solid #002047 !important;
}

.btn-primary:hover {
  background-color: #004ead !important;
}

.anchor:hover {
  text-decoration: underline;
  cursor: grab;
}

.txt-error {
  color: red;
}

.txt-error.form-error {
  display: block;
  width: 100%;
  text-align: center;
}