@if (_user) {
<form (ngSubmit)="onSubmit()">
  <h2>{{ _ownProfile? "My profile" : "User " + id }}</h2>
  <span class="txt-error form-error">{{ _error }} &nbsp;</span><br>

  <label for="name">Name*</label>
  <input type="text" id="name" name="name" [(ngModel)]="_user.name" required autofocus>
  <span class="txt-error">{{ _nameError }}</span><br>
  <label for="email">Email*</label>
  <input type="email" id="email" name="email" [(ngModel)]="_user.email" required>
  <span class="txt-error">{{ _emailError }}</span><br>
  <button type="button" title="Activate/Deactivate the user" class="btn flat {{isAdmin()? '' : 'disabled'}}"
    (click)="setIsDeleted()">
    <i class="material-icons">{{_user.isDeleted? "check_box_outline_blank" : "check_box"}} </i>
    &nbsp; Active
  </button>
  <br>
  <button type="button" title="Change user role (Admin/User)" class="btn flat {{isAdmin()? '' : 'disabled'}}"
    (click)="setIsAdmin()">
    <i class="material-icons">{{_user.isAdmin? "check_box" : "check_box_outline_blank"}} </i>
    &nbsp; Admin
  </button>
  <br>

  <label for="createdAt">Created at</label>
  <input type="text" id="createdAt" value="{{_user.createdAt | date:'MM/dd/yyyy h:mm a'}}" readonly>
  <br>
  <label for="updatedAt">Updated at</label>
  <input type="text" id="updatedAt" value="{{_user.updatedAt | date:'MM/dd/yyyy h:mm a'}}" readonly>
  <br>

  @if (_ownProfile || _isChangingPassword) {
  <br>
  <fieldset>
    <legend>
      @if (_ownProfile) {
      <button type="button" class="btn flat" (click)="setChangePassword()">
        <i class="material-icons">{{_isChangingPassword? "check_box" : "check_box_outline_blank" }} </i>
        &nbsp; Change password
      </button>
      } @else {
      Password
      }
    </legend>

    <div [class.hidden]="!_isChangingPassword">
      @if (_ownProfile) {
      <label for="password">Current password*</label>
      <input type="password" placeholder="Password" id="password" name="password" [(ngModel)]="_user.password">
      <span class="txt-error">{{ _passwordOldError }}</span><br>
      }

      <label for="passwordNew">New password*</label>
      <input type="password" placeholder="Password" id="passwordNew" name="passwordNew" [(ngModel)]="_user.passwordNew">
      <span class="txt-error">{{ _passwordNewError }}</span><br>

      <label for="passwordCheck">Confirm new password*</label>
      <input type="password" placeholder="Password" id="passwordCheck" name="passwordCheck" [(ngModel)]="_user.passwordCheck">
      <span class="txt-error">{{ _passwordNewError }}</span><br>
    </div>

  </fieldset>
  <br>
  }

  <br>
  <div class="btn-group">
    <button class="btn btn-primary" type="submit">Save</button>
    &nbsp;&nbsp;&nbsp;
    <button class="btn" type="button" (click)="close()">Close</button>
  </div>
  <br>
</form>

}