.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.7);
}

.spinner-overlay ::ng-deep .spinner circle {
  stroke: rgb(196, 131, 12) !important;
}